html,body{
    height: 100%;
    width: 100%;
}
html,body,div{
    margin: 0;
    padding: 0;
}
div,button, input, textarea, image {
    box-sizing: border-box;
}
html,
body,
header,
section,
footer,
div,
ul,
ol,
li,
img,
a,
span,
em,
del,
legend,
center,
strong,
var,
fieldset,
form,
label,
dl,
dt,
dd,
cite,
input,
hr,
time,
mark,
code,
figcaption,
figure,
textarea,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: sans-serif;
}

ul,
li {
    list-style: none;
}

b,
strong {
    font-weight: 700;
}

pre {
    overflow: auto;
}

img {
    border: 0;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    outline: 0;
}

textarea {
    overflow: hidden;
    resize: none;
}

button {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font: inherit;
    color: inherit;
    border: none;
    outline: none;
}

hr {
    height: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

pre {
    overflow: auto;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: none;
}
/* 
*:not(input, textarea) {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}
[contenteditable="true"], input, textarea {
    -webkit-user-select: auto!important;
    -khtml-user-select: auto!important;
    -moz-user-select: auto!important;
    -ms-user-select: auto!important;
    -o-user-select: auto!important;
    user-select: auto!important;
} */
select,
input[type="text"],
input[type="button"],
input[type="search"],
input[type="password"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="color"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"] {
    width: 100%;
    -webkit-appearance: none;
    -webkit-user-select: text;
    background-color: #fff;
    outline: none;
}

.m-container {
    font-size: 4vw;
}

.mint-loadmore-top {
    position: relative;
}

.content {
    background: #fff
}

.refeshDom {
    width: 100%;
    height: 60px;
}

._v-container>._v-content>.loading-layer {
    font-size: 13px!important;
}

.ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.text-center {
    text-align: center;
}

.flex-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

.flex-center .mu-item-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.block {
    display: block;
}

.m-divider {
    margin: 0;
    height: 1px;
    border: none;
    background-color: rgba(0, 0, 0, .12);
    width: 100%;
    -webkit-transform: scaleY(.33);
    -ms-transform: scaleY(.33);
    transform: scaleY(.33);
}

.pad30 {
    padding: .3rem;
}

.bg-w {
    background: #fff;
}

.meb-color {
    color: #ff8686
}
.hasmore{
    padding: .3rem;
    text-align: center;
    font-size: .28rem;
    color: #999999;
}
.hasmore img{
    width: 1rem;
}