/**
 * 这里是uni-app内置的常用样式变量
 *
 * uni-app 官方扩展插件及插件市场（https://ext.dcloud.net.cn）上很多三方插件均使用了这些样式变量
 * 如果你是插件开发者，建议你使用scss预处理，并在插件代码中直接使用这些变量（无需 import 这个文件），方便用户通过搭积木的方式开发整体风格一致的App
 *
 */

/**
 * 如果你是App开发者（插件使用者），你可以通过修改这些变量来定制自己的插件主题，实现自定义主题功能
 *
 * 如果你的项目同样使用了scss预处理，你也可以直接在你的 scss 代码中使用如下变量，同时无需 import 这个文件
 */

/* 颜色变量 */

/* 行为相关颜色 */
$uni-color-primary: #007aff;
$uni-color-success: #4cd964;
$uni-color-warning: #f0ad4e;
$uni-color-error: #dd524d;

$f7: #f7f7f7;

/* 文字基本颜色 */
$uni-text-color:#333;//基本色
$uni-text-color-inverse:#fff;//反色
$uni-text-color-grey:#999;//辅助灰色，如加载更多的提示信息
$uni-text-color-placeholder: #808080;
$uni-text-color-disable:#c0c0c0;

/* 背景颜色 */
$uni-bg-color:#ffffff;
$uni-bg-color-grey:#f8f8f8;
$uni-bg-color-hover:#f1f1f1;//点击状态颜色
$uni-bg-color-mask:rgba(0, 0, 0, 0.4);//遮罩颜色

/* 边框颜色 */
$uni-border-color:#c8c7cc;

/* 尺寸变量 */

/* 文字尺寸 */
$uni-font-size-sm:24rpx;
$uni-font-size-base:28rpx;
$uni-font-size-lg:32rpx;

/* 图片尺寸 */
$uni-img-size-sm:40rpx;
$uni-img-size-base:52rpx;
$uni-img-size-lg:80rpx;

/* Border Radius */
$uni-border-radius-sm: 4rpx;
$uni-border-radius-base: 6rpx;
$uni-border-radius-lg: 12rpx;
$uni-border-radius-circle: 50%;

/* 水平间距 */
$uni-spacing-row-sm: 10px;
$uni-spacing-row-base: 20rpx;
$uni-spacing-row-lg: 30rpx;

/* 垂直间距 */
$uni-spacing-col-sm: 8rpx;
$uni-spacing-col-base: 16rpx;
$uni-spacing-col-lg: 24rpx;

/* 透明度 */
$uni-opacity-disabled: 0.3; // 组件禁用态的透明度

/* 文章场景相关 */
$uni-color-title: #2C405A; // 文章标题颜色
$uni-font-size-title:40rpx;
$uni-color-subtitle: #555555; // 二级标题颜色
$uni-font-size-subtitle:36rpx;
$uni-color-paragraph: #3F536E; // 文章段落颜色
$uni-font-size-paragraph:30rpx;


page{
	background-color: #f7f7f7;
	padding-bottom: 50upx;
}
.mt20{
	margin-top: 20upx;
}
.mt30{
	margin-top: 30upx;
}
.mt40{
	margin-top: 40upx;
}
.mb30{
	margin-bottom: 30upx;
}
.wrp{
	width: 690upx;
	margin: 0 auto;
}
.ct{
	display: flex;
	align-items: center;
}
.cc{
	display: flex;
	justify-content: center;
	align-items: center;
}
.cs{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.title{
	padding: 30upx 0;
	text{
		font-size: 36upx;
		color: #333333;
		font-weight: bold;
	}
	image{
		width: 30upx;
		height: 34upx;
	}
}
//登陆-注册
.login_wrp{
		padding: 83upx 0 58upx 0;
		.login_btn{
			width:520upx;
			height:90upx;
			background:rgba(254,120,0,1);
			border-radius:45upx;
			text{
				font-size:30upx;
				color:rgba(255,255,255,1);
			}
		}
	}
	.login{
		.logo{
			padding: 66upx 0 50upx 0;
			flex-direction: column;
			image{
				&:nth-child(1){
					width:127upx;
					height:127upx;
					border-radius:20px;
				}
				&:nth-child(2){
					width:141upx;
					height:34upx;
					font-size:36upx;
					margin-top: 22upx;
				}
			}
		}
		.login_form{
			.forget{
				display: flex;
				justify-content: flex-end;
				text{
					font-size:26upx;
					color:rgba(153,153,153,1);
				}
			}
			.code_box{
				input{
					width: 320upx!important;
				}
			}
			.login_item{
				background:rgba(255,255,255,1);
				border-radius:10upx;
				padding: 38upx 28upx;
				margin-bottom: 22upx;
				text{
					width: 130upx;
					font-size:26upx;
					font-weight:bold;
					color:rgba(51,51,51,1);
				}
				input{
					font-size:26upx;
					width: 464upx;
				}
				position: relative;
				.code{
					width:182upx;
					height:108upx;
					background:rgba(254,120,0,1);
					border-radius:0px 10upx 10upx 0px;
					font-size:26upx;
					color:rgba(255,255,255,1);
					position: absolute;
					right: 0;
				}
			}
		}
	}
	//顶部搜索框
	.keyword{
		display: flex;
		justify-content: space-between;
		margin: 38upx 0 24px 0;
		text{
			width:120upx;
			height:64upx;
			background:rgba(254,120,0,1);
			border-radius:6upx;			
			font-size:30upx;	
			color:rgba(255,255,255,1);
		}
		input{
			width:540upx;
			height:64upx;
			padding: 10upx 30upx;
			background:rgba(255,255,255,1);
			border-radius:6upx;
			font-size:24upx;
			color:rgba(153,153,153,1);
		}
	}
	//产品列表
	.hot_more{
		text{
			font-size: 26upx;
			color: #333333;
			margin-right: 15upx;
		}
		image{
			width: 24upx;
			height: 18upx;
			transition: all .2s ease-in-out;
		}
	}
	.active{
		image{
			transform: rotate(180deg);
		}
	}
	.hot_item{
		display: flex;
		flex-direction: column;
		width: 690upx;
		height: 211upx;
		background-color: #cbf3cc;
		box-shadow: 0px 7upx 5upx 1upx 
			rgba(0, 0, 0, 0.05);
		border-radius: 20upx;
		overflow: hidden;
		.hot_top{
			padding: 30upx 20upx;
			view{
				&:nth-child(1){
					text{
						&:nth-child(1){
							font-size: 28upx;
							line-height: 36upx;
							color: #333333;
							width: 134upx;
							overflow: hidden;
							text-overflow:ellipsis;
							white-space: nowrap;
						}
						&:nth-child(2){
							font-size: 24upx;
							line-height: 36upx;
							color: #999999;
							padding-left: 40upx;
						}
					}
				}
				&:nth-child(2){
					text{
						font-size: 24upx;
						line-height: 36upx;
						color: #999999;
						&:nth-child(2){
							padding-left: 40upx;
						}
						text{
							color: #fe9900;
						}
					}
				}
			}
		}
		.hot_bottom{
			flex:1;
			padding: 0 20upx;
			background: #FFFFFF;
			text{
				&:nth-child(1){
					font-size: 24upx;
					line-height: 36upx;
					color: #999999;
					text{
						color: #2c8aff;
					}	
				}
				&:nth-child(2){
					width: 150upx;
					height: 60upx;
					background-color: #fe9900;
					border-radius: 10upx;
					color: #FFFFFF;
					font-size: 24upx;;
				}
			}
		}
	}
	//表单
	.form{
		.item{
			background:rgba(255,255,255,1);
			border-radius:10upx;
			padding: 38upx 28upx;
			margin-bottom: 22upx;
			text{
				width: 130upx;
				font-size:26upx;
				font-weight:bold;
				color:rgba(51,51,51,1);
			}
			input{
				font-size:26upx;
				width: 464upx;
			}
			checkbox-group{
				display: flex;
				width: 464upx;
				flex: 1;
			}
			uni-label{
				display: flex;
				align-items: center;
			}
			uni-view{
				font-size:26upx;
			}
			.uni-checkbox-input{
				width: 38upx;
				height: 38upx;
				color: #fe7800!important;
				&::before{
					font-size: 34upx;
				}
			}
			.uni-checkbox-input{
				border-color: #fe7800!important;
			}
		}
	}
	radio-group{
		flex: 1;
	}
	.uni-list-cell{
		flex: 1;
		view{
			font-size:28upx;
			color:rgba(153,153,153,1);
		}
	}
	.edu{
		flex: auto!important;
	}
	.uni-radio-input{
		width: 28upx!important;
		height: 28upx!important;
		&::before{
			font-size: 26upx!important;
		}
	}
	.uni-radio-input-checked{
		background-color: #FE7800!important;
		border-color: #FE7800!important;
	}
	.mul{
		input{
			margin-bottom: 10upx;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	.mulbox{
		flex-direction: column;
		align-items: flex-start;
		.mul{
			margin-top: 10upx;
			width: 100%;
			input{
				width: 100%;
			}
		}
		uni-label{
			flex: auto!important;
			width: 136upx;
			margin-top: 8upx;
		}
		uni-radio-group{
			flex-wrap: wrap;
			margin-top: 10upx;
		}
	}
	.line-up{
		  width: 100%;
		  display: flex;
		  flex-direction: column;
		  align-items: center;
		  .line-item{
			  width:690upx;
			  height:100upx;
			  background:rgba(255,255,255,1);
			  border-radius:10upx;
			  display: flex;
			  align-items: center;
			  justify-content: space-between;
			  .line-right{
				  padding-right: 32upx;
				  image{
					  width: 15upx;
					  height: 26upx;
				  }
				  text{
					  font-size:30upx;
					  color:rgba(153,153,153,1);
					  margin-right: 35upx;
				  }
			  }
			  .alone{
				  text{
					  padding-left: 28upx;
				  }
			  }
			  .line_left{
				  display: flex;
				  align-items: center;
				 .line-img{
					 width: 107upx;
					 height: 48upx;
					 padding: 0 35upx 0 24upx;
				 }
				 text{
					 font-size:30upx;
					 font-weight:bold;
					 color:rgba(51,51,51,1);
				 }
			  }
			  .info{
				  image{
					  width: 37upx;
					  height: 40upx;
				  }
			  }
		  }
	}
	.info_user{
		display: flex;
		flex-direction: column;
		align-items: center;
		.item{
			width:690upx;
			height:80upx;
			background:rgba(255,255,255,1);
			border-radius:6px;
			input{
				width:690upx;
				height:80upx;
				background:rgba(255,255,255,1);
				border-radius:6px;
				padding: 0 20upx;
				font-size:30upx;
				color:rgba(153,153,153,1);
			}
		}
	}
	.classify_con{
		padding: 27upx 36upx 26upx 39upx;
		display: flex;
		flex-wrap: wrap;
		.item{
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-right: 66upx;
			&:nth-child(3n+3){
				margin-right: 0;
			}
			image{
				width: 88upx;
				height: 88upx;
			}
			text{
				margin-top: 8upx;
				font-size:26upx;
				color:rgba(51,51,51,1);
				width: 88upx;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}
	}
	uni-swiper .uni-swiper-dots-horizontal{
		right: 20upx!important;
		left: auto;
		}
		uni-swiper .uni-swiper-dot-active{
			background:rgba(254,153,0,1);
		}
		